blog, h3{
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}

.hide{
    /* display: none; */
    visibility: hidden;
}


.blog{
    margin: 20px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 15px blueviolet;
}

/* span tag er kaj */
.span_tag{
    border: 2px solid #800080;
    /* display: block; 
    height: 200px; 
    padding: 10px ; 
    display: block; */

}

.header{
    height: 200px ;
    /* background-color: blueviolet; */
    background-image: url("Travel pic/pic4.jpg");
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
    /* background-size: cover; */
    background-size: contain;
}